In [1]:
sessionInfo()

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=English_India.1252  LC_CTYPE=English_India.1252
[3] LC_MONETARY=English_India.1252 LC_NUMERIC=C
[5] LC_TIME=English_India.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] compiler_3.6.1  IRdisplay_0.7.0 pbdZMQ_0.3-3    tools_3.6.1
 [5] htmltools_0.3.6 base64enc_0.1-3 crayon_1.3.4    Rcpp_1.0.1
 [9] uuid_0.1-2      IRkernel_0.8.15 jsonlite_1.6    digest_0.6.18
[13] repr_0.19.2     evaluate_0.13

# Datatypes and Structures in R
- vector
- list
- array
- factor
- complex
- data frame
- matrix
- date/time
- operators

##  1. Vector

In [2]:
v1 <- c(1,2,3,4)

In [3]:
class(v1) # 'numeric'

[1] "numeric"

In [4]:
is.vector(v1) # TRUE

[1] TRUE

In [5]:
# if there exists more than one type of data in a vector, all the data are converted into the lowest type of data present.
# for example, here the vector 'v2' contains 'numeric' and 'character' so all the data will be converted into 'character'.
v2 <- c(1,2,3,'a','b')

In [6]:
v2

[1] "1" "2" "3" "a" "b"

In [7]:
class(v2)

[1] "character"

In [8]:
is.vector(v2)

[1] TRUE

## 2. List

In [9]:
l <- list(c(1,2,3),c(4,5,6))

In [10]:
l

[[1]]
[1] 1 2 3

[[2]]
[1] 4 5 6

In [11]:
class(l) # 'list'

[1] "list"

In [12]:
l2<-list(a=c('A','B','C'), b=c(4,5,6))

In [13]:
l2

$a
[1] "A" "B" "C"

$b
[1] 4 5 6

In [14]:
# To access from list, we make use of ' $ ' or '[ ]'
l2$a

[1] "A" "B" "C"

In [15]:
l2['a']

$a
[1] "A" "B" "C"

In [16]:
l2$a=c('X','Y','Z')

In [17]:
l2

$a
[1] "X" "Y" "Z"

$b
[1] 4 5 6

In [18]:
l2$a=('Q')

In [19]:
l2

$a
[1] "Q"

$b
[1] 4 5 6

## 3. Array

In [20]:
arr <- array(data = c(1,2,3,4,5,6,7,8,9,10), dim = c(5,2), dimnames = list(c('r1','r2','r3','r4','r5'),c('c1','c2')))

In [21]:
arr

   c1 c2
r1 1   6
r2 2   7
r3 3   8
r4 4   9
r5 5  10

In [22]:
arr2 <- array(data = c(1,2,3,4,5,6,7,8,9,10), dim = c(2,5), dimnames = list(c('c1','c2'),c('r1','r2','r3','r4','r5')))

In [23]:
arr2

   r1 r2 r3 r4 r5
c1 1  3  5  7   9
c2 2  4  6  8  10

## 4. Factor

In [24]:
a<-c(1,2,3,2,2,1,3,3,2,3,1,2)

In [25]:
print(a)
print(class(a))

 [1] 1 2 3 2 2 1 3 3 2 3 1 2
[1] "numeric"

In [26]:
f <- factor(a)

In [27]:
f

 [1] 1 2 3 2 2 1 3 3 2 3 1 2
Levels: 1 2 3

Factor forms level in ascending order even if numbers are randomly placed.\
We can give user-defined levels to a factor to tackle this.

In [28]:
b<-c(1,2,4,3,2,2,3,1,4)

In [29]:
f2<-factor(b, levels=c(1,2,4,3))

In [30]:
f2

[1] 1 2 4 3 2 2 3 1 4
Levels: 1 2 4 3

In [31]:
d=c('a','c','d','b','a','d','c','b')
f3<-factor(d, levels=c('a','c','d','b'))

In [32]:
f3

[1] a c d b a d c b
Levels: a c d b

## 5. Complex

In [33]:
z<- 1+2i

In [34]:
z

[1] 1+2i

In [35]:
class(z)

[1] "complex"

In [36]:
z1 <- 3-4i
z2 <- 5+6i

In [37]:
z1+z2

[1] 8+2i

In [38]:
z1-z2

[1] -2-10i

In [39]:
z1*z2
# (3-4i)*(5+6i) = 3*5 + 3*6i + (-4i)*5 + (-4i)*(6i) = 15 + 18i -20i -24i^2 = 15 -2i +24 = 39 -2i

[1] 39-2i

In [40]:
z1/z2

[1] -0.147541-0.6229508i

## 6. DataFrame

In [41]:
id<-c(1,2,3,4)
name<-c('Chris','Tony','Mark','Clint')
df<-data.frame(id,name)

In [42]:
df

  id name
1 1  Chris
2 2  Tony
3 3  Mark
4 4  Clint

In [43]:
colnames(df)

[1] "id"   "name"

In [44]:
df2 <- data.frame('id'=c(1,2,3,4,5), 'name'=c('Chris','Tony','Mark','Clint','Nick'))

In [45]:
colnames(df2)<-list('ID','NAME')

In [46]:
df2

  ID NAME
1 1  Chris
2 2  Tony
3 3  Mark
4 4  Clint
5 5  Nick

## 7. Matrix

In [47]:
mat1 = matrix(c(1,2,3,4,5,6,7,8), nrow=4, ncol=2, dimnames = list(c('r1','r2','r3','r4'),c('c1','c2')))

In [48]:
mat1

   c1 c2
r1 1  5
r2 2  6
r3 3  7
r4 4  8

In [49]:
mat2 = matrix(c(1,2,3,4,5,6,7,8), nrow=4, ncol=2, dimnames = list(c('r1','r2','r3','r4'),c('c1','c2')), byrow=TRUE)

In [50]:
mat2

   c1 c2
r1 1  2
r2 3  4
r3 5  6
r4 7  8

In [51]:
print(nrow(mat2))
print(ncol(mat2))

[1] 4
[1] 2

## 8. date/time

In [52]:
date()

[1] "Sat Jun 06 12:33:48 2020"

In [53]:
Sys.time()

[1] "2020-06-06 12:33:48 IST"

In [54]:
Sys.timezone()

[1] "Asia/Calcutta"

In [55]:
t <- Sys.time()
t1<-format(t, '%d %m %Y - %H:%M:%S')
t2<-format(t, '%z')

In [56]:
t1

[1] "06 06 2020 - 12:33:48"

In [57]:
t2

[1] "+0530"

In [58]:
time_lt<-as.POSIXlt(Sys.time())
time_lt$sec # seconds
time_lt$min # minutes
time_lt$hour #hours
time_lt$mday # month
time_lt$wday # weekday
time_lt$yday # year day

[1] 48.58052

[1] 33

[1] 12

[1] 6

[1] 6

[1] 157

In [59]:
time_ct<-as.POSIXct(Sys.time())

In [60]:
time_ct

[1] "2020-06-06 12:33:48 IST"

## 9. Operators

In [61]:
2+3
2-3
2*3
2/3
2**3
2^3
5%%4 # modulus
10%/%5 # integer division
4<10
2>5
TRUE & FALSE
TRUE | FALSE
!TRUE
5:10

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

[1] 8

[1] 1

[1] 2

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] FALSE

[1]  5  6  7  8  9 10

# Loops, Condition statements
- for loop
- while loop
- repeat
- if else
- which