In [1]:
sessionInfo()

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19041)

Matrix products: default

locale:
[1] LC_COLLATE=English_India.1252  LC_CTYPE=English_India.1252
[3] LC_MONETARY=English_India.1252 LC_NUMERIC=C
[5] LC_TIME=English_India.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] compiler_3.6.1  IRdisplay_0.7.0 pbdZMQ_0.3-3    tools_3.6.1
 [5] htmltools_0.3.6 base64enc_0.1-3 crayon_1.3.4    Rcpp_1.0.1
 [9] uuid_0.1-2      IRkernel_0.8.15 jsonlite_1.6    digest_0.6.18
[13] repr_0.19.2     evaluate_0.13

# Datatypes and Structures in R
- vector
- list
- array
- factor
- complex
- data frame
- matrix
- date/time
- operators

##  1. Vector

In [2]:
v1 <- c(1,2,3,4)

In [3]:
class(v1) # 'numeric'

[1] "numeric"

In [4]:
is.vector(v1) # TRUE

[1] TRUE

In [5]:
# if there exists more than one type of data in a vector, all the data are converted into the lowest type of data present.
# for example, here the vector 'v2' contains 'numeric' and 'character' so all the data will be converted into 'character'.
v2 <- c(1,2,3,'a','b')

In [6]:
v2

[1] "1" "2" "3" "a" "b"

In [7]:
class(v2)

[1] "character"

In [8]:
is.vector(v2)

[1] TRUE

In [9]:
sales <- c(90000, 80000, 84000, 69000, 73000, 85000, 79000)

In [10]:
sales

[1] 90000 80000 84000 69000 73000 85000 79000

In [11]:
names(sales)<-c('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')

In [12]:
sales

  Mon   Tue   Wed  Thur   Fri   Sat   Sun
90000 80000 84000 69000 73000 85000 79000

## 2. List

In [13]:
l <- list(c(1,2,3),c(4,5,6))

In [14]:
l

[[1]]
[1] 1 2 3

[[2]]
[1] 4 5 6

In [15]:
class(l) # 'list'

[1] "list"

In [16]:
l2<-list(a=c('A','B','C'), b=c(4,5,6))

In [17]:
l2

$a
[1] "A" "B" "C"

$b
[1] 4 5 6

In [18]:
# To access from list, we make use of ' $ ' or '[ ]'
l2$a

[1] "A" "B" "C"

In [19]:
l2['a']

$a
[1] "A" "B" "C"

In [20]:
l2$a=c('X','Y','Z')

In [21]:
l2

$a
[1] "X" "Y" "Z"

$b
[1] 4 5 6

In [22]:
l2$a=('Q')

In [23]:
l2

$a
[1] "Q"

$b
[1] 4 5 6

## 3. Array

In [24]:
arr <- array(data = c(1,2,3,4,5,6,7,8,9,10), dim = c(5,2), dimnames = list(c('r1','r2','r3','r4','r5'),c('c1','c2')))

In [25]:
arr

   c1 c2
r1 1   6
r2 2   7
r3 3   8
r4 4   9
r5 5  10

In [26]:
arr2 <- array(data = c(1,2,3,4,5,6,7,8,9,10), dim = c(2,5), dimnames = list(c('c1','c2'),c('r1','r2','r3','r4','r5')))

In [27]:
arr2

   r1 r2 r3 r4 r5
c1 1  3  5  7   9
c2 2  4  6  8  10

## 4. Factor

In [28]:
a<-c(1,2,3,2,2,1,3,3,2,3,1,2)

In [29]:
print(a)
print(class(a))

 [1] 1 2 3 2 2 1 3 3 2 3 1 2
[1] "numeric"

In [30]:
f <- factor(a)

In [31]:
f

 [1] 1 2 3 2 2 1 3 3 2 3 1 2
Levels: 1 2 3

Factor forms level in ascending order even if numbers are randomly placed.\
We can give user-defined levels to a factor to tackle this.

In [32]:
b<-c(1,2,4,3,2,2,3,1,4)

In [33]:
f2<-factor(b, levels=c(1,2,4,3))

In [34]:
f2

[1] 1 2 4 3 2 2 3 1 4
Levels: 1 2 4 3

In [35]:
d=c('a','c','d','b','a','d','c','b')
f3<-factor(d, levels=c('a','c','d','b'))

In [36]:
f3

[1] a c d b a d c b
Levels: a c d b

## 5. Complex

In [37]:
z<- 1+2i

In [38]:
z

[1] 1+2i

In [39]:
class(z)

[1] "complex"

In [40]:
z1 <- 3-4i
z2 <- 5+6i

In [41]:
z1+z2

[1] 8+2i

In [42]:
z1-z2

[1] -2-10i

In [43]:
z1*z2
# (3-4i)*(5+6i) = 3*5 + 3*6i + (-4i)*5 + (-4i)*(6i) = 15 + 18i -20i -24i^2 = 15 -2i +24 = 39 -2i

[1] 39-2i

In [44]:
z1/z2

[1] -0.147541-0.6229508i

## 6. DataFrame

In [45]:
id<-c(1,2,3,4)
name<-c('Chris','Tony','Mark','Clint')
df<-data.frame(id,name)

In [46]:
df

  id name
1 1  Chris
2 2  Tony
3 3  Mark
4 4  Clint

In [47]:
colnames(df)

[1] "id"   "name"

In [48]:
df2 <- data.frame('id'=c(1,2,3,4,5), 'name'=c('Chris','Tony','Mark','Clint','Nick'))

In [49]:
colnames(df2)<-list('ID','NAME')

In [50]:
df2

  ID NAME
1 1  Chris
2 2  Tony
3 3  Mark
4 4  Clint
5 5  Nick

## 7. Matrix

In [51]:
mat1 = matrix(c(1,2,3,4,5,6,7,8), nrow=4, ncol=2, dimnames = list(c('r1','r2','r3','r4'),c('c1','c2')))

In [52]:
mat1

   c1 c2
r1 1  5
r2 2  6
r3 3  7
r4 4  8

In [53]:
mat2 = matrix(c(1,2,3,4,5,6,7,8), nrow=4, ncol=2, dimnames = list(c('r1','r2','r3','r4'),c('c1','c2')), byrow=TRUE)

In [54]:
mat2

   c1 c2
r1 1  2
r2 3  4
r3 5  6
r4 7  8

In [55]:
print(nrow(mat2))
print(ncol(mat2))

[1] 4
[1] 2

## 8. date/time

In [56]:
date()

[1] "Thu Jun 11 18:39:42 2020"

In [57]:
Sys.time()

[1] "2020-06-11 18:39:42 IST"

In [58]:
Sys.timezone()

[1] "Asia/Calcutta"

In [59]:
t <- Sys.time()
t1<-format(t, '%d %m %Y - %H:%M:%S')
t2<-format(t, '%z')

In [60]:
t1

[1] "11 06 2020 - 18:39:42"

In [61]:
t2

[1] "+0530"

In [62]:
time_lt<-as.POSIXlt(Sys.time())
time_lt$sec # seconds
time_lt$min # minutes
time_lt$hour #hours
time_lt$mday # month
time_lt$wday # weekday
time_lt$yday # year day

[1] 42.60922

[1] 39

[1] 18

[1] 11

[1] 4

[1] 162

In [63]:
time_ct<-as.POSIXct(Sys.time())

In [64]:
time_ct

[1] "2020-06-11 18:39:42 IST"

## 9. Operators

In [65]:
2+3
2-3
2*3
2/3
2**3
2^3
5%%4 # modulus
10%/%5 # integer division
4<10
2>5
TRUE & FALSE
TRUE | FALSE
!TRUE
5:10

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

[1] 8

[1] 1

[1] 2

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] FALSE

[1]  5  6  7  8  9 10

# Loops, Condition statements
- for loop
- while loop
- repeat
- if else
- which

## 1. for loop

In [66]:
for(i in 1:5){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [67]:
days <- c('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')
for(d in days){
    print(d)
}

[1] "Mon"
[1] "Tue"
[1] "Wed"
[1] "Thur"
[1] "Fri"
[1] "Sat"
[1] "Sun"

## 2. while loop

In [68]:
i <- 0
while(i<7){
    print(i)
    i=i+1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

## 3. repeat

In [69]:
i<-0
repeat{
    print(i)
    if(i==10){
        break
    }
    i=i+1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

## 4. if else

In [70]:
temp<-10
if(temp==23){
    print('if statement is executed')
}else{
    print('else statement is executed')
}

[1] "else statement is executed"

## 5. which

In [71]:
which(letters=='d')

[1] 4

In [72]:
temp<-c(91,92,97,84,85,39,20)
which(temp == 39)
which(temp%%2 == 0)

[1] 6

[1] 2 4 7

# Some basic operations

In [74]:
v1 <- c(10,11,12)
v2 <- c(5,6,7)
v1 + v2
v1 - v2
v1 * v2
v1 / v2

[1] 15 17 19

[1] 5 5 5

[1] 50 66 84

[1] 2.000000 1.833333 1.714286

In [84]:
vec <- c(12,13,14,11,45,76,34,99,87,56,90,34,43,62,17,8,5,84)

print('Slicing')
vec[2:5]

print('Retrieving values from specific indexes')
vec[c(3,5,10)]

print('Update values')
vec
vec[1]=1000
vec

[1] "Slicing"

[1] 13 14 11 45

[1] "Retrieving values from specific indexes"

[1] 14 45 56

[1] "Update values"

 [1] 12 13 14 11 45 76 34 99 87 56 90 34 43 62 17  8  5 84

 [1] 1000   13   14   11   45   76   34   99   87   56   90   34   43   62   17
[16]    8    5   84

In [82]:
sales <- c(90000, 80000, 84000, 69000, 73000, 85000, 79000)
names(sales)<-c('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')
sales

sales[c('Mon', 'Thur')]

  Mon   Tue   Wed  Thur   Fri   Sat   Sun
90000 80000 84000 69000 73000 85000 79000

  Mon  Thur
90000 69000